@media only screen and (max-width: 1000px)
{
	a-menu, .menu, #MENU
	{
		top: 128px;
	}

	a-menu-item, .menuItem
	{
		--space: 9px;
	}
}

@media only screen and (max-width: 767px)
{
	a-menu, .menu, #MENU
	{
		--min: 64px;
		--max: 64px;
		top: 64px;
	}

	a-menu-item, .menuItem
	{
		--space: 6px;
	}

	.menuItemText
	{
		margin-bottom: -8px;
		font-weight: normal;
	}
}

@media only screen and (max-width: 479px)
{
	a-menu, .menu, #MENU
	{
		--min: 20px;
		--max: 50px;
		top: 32px;
	}

	a-menu-item, .menuItem
	{
		--space: 4px;
	}

	.menuItemText
	{
		margin-bottom: -12px;
		font-size: 0.75rem;
	}
}

@media only screen and (max-width: 359px)
{
	a-menu, .menu, #MENU
	{
		--min: 10px;
		--max: 40px;
		top: 3px;
	}

	a-menu-item, .menuItem
	{
		--space: 2px;
	}

	.menuItemText
	{
		display: none;
	}
}

