@media only screen and (max-width: 1000px)
{
	a-menu, .menu, #MENU
	{
		top: 32px;
	}

	a-menu-item, .menuItem
	{
		--space: 9px;
	}

	.menuItemText
	{
		font-size: 0.9rem;
	}
}

@media only screen and (max-width: 767px)
{
	a-menu, .menu, #MENU
	{
		--min: 64px;
		--max: 64px;
		top: 16px;
	}

	a-menu-item, .menuItem
	{
		--space: 6px;
	}

	.menuItemText
	{
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 479px)
{
	a-menu, .menu, #MENU
	{
		--min: 20px;
		--max: 50px;
		top: 8px;
	}

	a-menu-item, .menuItem
	{
		--space: 4px;
	}

	.menuItemText
	{
		font-size: 0.75rem;
	}
}

@media only screen and (max-width: 359px)
{
	a-menu, .menu, #MENU
	{
		--min: 10px;
		--max: 40px;
		top: 4px;
	}

	a-menu-item, .menuItem
	{
		--space: 2px;
	}

	.menuItemText
	{
		display: none;
	}
}

