@media only screen and (max-width: 1000px)
{
	--ajax-osd-font-size-method: 35%;
	--ajax-osd-font-size-status: 75%;
	--ajax-osd-font-size-status-text: 45%;
}

@media only screen and (max-width: 767px)
{
	--ajax-osd-font-size-method: 30%;
	--ajax-osd-font-size-status: 70%;
	--ajax-osd-font-size-status-text: 40%;
	--ajax-osd-font-size-url: 25%;
}

@media only screen and (max-width: 479px)
{
	--ajax-osd-font-size-method: 25%;
	--ajax-osd-font-size-status: 65%;
	--ajax-osd-font-size-status-text: 35%;
	--ajax-osd-font-size-url: 20%;
}

@media only screen and (max-width: 359px)
{
	--ajax-osd-font-size-method: 20%;
	--ajax-osd-font-size-status: 60%;
	--ajax-osd-font-size-status-text: 30%;
	--ajax-osd-font-size-url: 15%;
}

