@media only screen and (max-width: 1000px)
{
	--ajax-osd-font-size: 80%;
}

@media only screen and (max-width: 767px)
{
	--ajax-osd-font-size: 60%;
}

@media only screen and (max-width: 479px)
{
	--ajax-osd-font-size: 40%;
}

@media only screen and (max-width: 359px)
{
	--ajax-osd-font-size: 20%;
}
