:root, #OSD
{
	--osd: auto;
}

:root, #FAVICON
{
	--favicon: auto;
	--favicon-image: url('img/favicon.png');
	--favicon-animation: auto;
	--favicon-duration: 32000 1600;
	--favicon-delay: 8000 0;
	--favicon-restart: 0;
}

:root, .bionic
{
	--bionic: auto;
	--bionic-fixation: 0.39;
	--bionic-sakkade-words: 2;
	--bionic-sakkade-words-max: 16;
	--bionic-sakkade-chars: 12;
	--bionic-sakkade-chars-max: 64;
}

:root
{
	--page-scripting: auto;
	--page-styling: auto;
	--page-reload-hash: auto;
}

:root
{
	--callback-timeout: auto;
}

:root
{
	--menu: auto;
	--menu-data: json/menu.json;
	/*--menu-icon: 192px 32px;*/
}

:root
{
	--home: auto;
	--home-page: ~index;
	--home-path: home;
	--home-extension: .html .txt;
}

:root
{
	--animation-duration: 1.0;
	--animation-duration-data: 1.0;
	--animation-delay: 1.0;
}

:root
{
	--base: 1024;/*1000/..*/
}

:root
{
	--geo-unit: meter;
	/*--geo-unit: feet;*/
	--geo-distance: haversine;
	/*--geo-distance: sphericalLawOfCosines;*/
}

:root
{
	--ajax-osd: auto;
	--ajax-osd-duration: 1800;
	--ajax-osd-timeout: 4200;
	--ajax-osd-font-size-method: 40%;
	--ajax-osd-font-size-status: 80%;
	--ajax-osd-font-size-status-text: 50%;
	--ajax-osd-font-size-url: 30%;
	--ajax-osd-color-error: red;
	--ajax-osd-color-status: blue;
	--ajax-osd-color-url: yellow;
}

