html
{
	font-family: 'Candara', 'Open Sans', 'Intel One Mono', 'Source Code Pro', 'sans-serif', 'monospace';
	font-size: 16px;
	color: black;
	text-shadow: 1px 1px 6px white;
}

*
{
	font-family: inherit;
}

.code, textarea
{
	font-family: 'Intel One Mono', 'Source Code Pro', 'monospace';
}

.text
{
	font-family: 'Candara', 'Open Sans', 'sans-serif';
}

