@font-face {
  font-family: 'Candara';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Candara.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/OpenSans.woff2') format('woff2');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/SourceCodePro.woff2') format('woff2');
}
/* https://github.com/intel/intel-one-mono/ */
@font-face {
  font-family: 'Intel One Mono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/IntelOneMono.woff2') format('woff2');
}
