:root
{
	--page-history: auto;
	--page-history-length: 32;
	--page-scroll-inline: nearest;/*start*/
	--page-scroll-block: start;
	--page-fallback-type: text;/*html*/
	--page-data-duration: 1800;
	--page-data-delay: 0;
	--page-data-delete-mul: null;
	--page-blink-duration: 2000;
	--page-blink-count: 1;
	--page-callback: auto;
	--page-target: MAIN;
	--page-text-white-space: pre;
	--page-url-change: none;
}

