a-popup, .popup
{
	--arrange: auto;
	--duration: 1800;
	--delay: 0;
	--pointer-duration: 900;
	--pointer-animation: none;
	--data-duration: 1200;
	--data-delay: 0;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	position: fixed;
	min-width: 60px;
	min-height: 20px;
	background-color: rgba(240, 240, 240, 0.4);
	backdrop-filter: blur(1px);
	border: 1px solid rgba(16, 16, 16, 0.9);
	margin: 16px;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 24px;
	padding-bottom: 24px;
	border-radius: 4px;
	color: black;
	text-shadow: 1px 1px 6px white;
	z-index: 256;
	overflow: hidden;
	white-space: pre;
}

